[submodule "aoc-2022"]
	url = https://github.com/crawdaddie/aoc-2022
[submodule "synacor"]
	url = https://github.com/crawdaddie/synacor
[submodule "project-euler"]
	url = https://github.com/crawdaddie/project-euler
